.phone {
  width: 300px;
  background: #f5f5f5f5;
  margin:0 auto;
  border-radius: 40px 40px;
  box-shadow: 0px 5px 16px 0px #000000c2;
  padding: 40px 15px 20px 15px;
  box-sizing: border-box;
  text-align: center;
  position:relative;
}

.front_speaker{
  width: 40px;
  height: 4px;
  background: rgb(105, 105, 105);
  border-radius: 2px;
  margin: 0 auto 30px;
  position:relative;
}

.front_speaker:before,
.front_speaker:after{
  content:"";
  display: block;
  position:absolute;
  background: rgb(105, 105, 105);
  border-radius:50%;
}

.front_speaker:before{
  width: 10px;
  height: 10px;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.front_speaker:after{
  width: 5px;
  height: 5px;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}

.screen{
  height: 440px;
  margin-bottom: 10px;
  display: flex;
  
  flex-direction: column;
  background-size: cover;
  background-position: top;
  position: relative;
}

.off_screen {
  background: black;
  display: none;
  flex-direction: column;
  background-size: cover;
  background-position: top;
}

.screen > *{
  flex:1;
}
.off_screen.active_screen {
  display: flex;
}

.screen.active_screen {
  display: flex;
}

.blocked_screen.active_screen {
  display: flex;
}

.home_screen.active_screen {
  display: grid;
}

.camera_app_container.active_screen {
  display: flex;
}

.music_app_container.active_screen {
  display: flex;
}

.todo_app_container.active_screen {
  display: flex;
}

.todo_done_container.active_screen {
    display: flex;
}

.showBackgroundImg{
  background-image: url(https://im.bloha.ru/bh/2s.jpg);
}

.home_button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(105, 105, 105);
  box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 57%);
  cursor:pointer;
  outline:none;
}

.volume_controls{
  width: 10px;
  height: 60px;
  position: absolute;
  top: 75px;
  right: 100%;
  overflow: hidden;
  padding-left: 10px;
  box-sizing: border-box;
}

.turn_up_volume,
.turn_down_volume{
  background:black;
  width:10px;
  height:30px;
  border:0;
  outline:none;
  padding:0;
  cursor:pointer;
  display: block;
  transition: all 300ms linear;
}

.turn_up_volume{
  transform: rotateZ(-20deg);
  transform-origin: left bottom;
}

.turn_down_volume{
  transform: rotateZ(20deg);
  transform-origin: right top;
}

.turn_up_volume.active {
  transform: rotateZ(-10deg);
  transform-origin: left bottom;
  transition: all 0.3s;
}

.turn_down_volume.active {
  transform: rotateZ(10deg);
  transform-origin: right top;
  transition: all 0.3s;
}

.blocked_screen {
  display: none;
  background-image: url(https://im.bloha.ru/bh/2s.jpg);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.time_container{
  margin: 0;
  color: #fffcfc;
  text-shadow: 0 0 4px #d7cfcf;
  font-family: monospace;
}

.time_container .time{
  font-size: 55px;
  margin: 0;
}

.time_container .date{
  font-size: 20px;
  margin: 0;
}

.unblocked_container{
  width: 80%;
  margin: 0 auto;
  height: 50px;
}

.home_screen{
  display: none;
  padding: 10px;
  grid-template-columns: repeat(4, 60px);
  grid-auto-rows: 55px;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  align-items: center;
  background: linear-gradient(to bottom right, #b968c5, skyblue);
}

.home_screen > button{
  width:40px;
  height:40px;
  background:white;
  border: none;
  border-radius: 25%;
  margin: 0 auto;
  color: #000;
  cursor: pointer;
	transition: all 0.3s;
  font-size: 28px;
  text-align: center;
}

.home_screen > button:hover {
	background: #fcad26;
	color: #fff;
}

/*SPINNER*/

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: black;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 25px;
  padding: 2px 5px 2px;
  position: relative;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0;
  background: white;
  cursor: pointer;
}

.slider::before {
  content: 'Slide to Unlock';
  position: absolute;
  color: white;
  top: 17px;
  left: 61px;
  font-size: 20px;
}

/*CAMERA*/

.camera_app_container,
.music_app_container,
.todo_app_container {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  background-color: black;
}

.camera_app_menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.close_button {
  width: 100%;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  padding-right: 10px;
  text-align: right;
}

.close_button:hover {
  color: gray;
}

.video {
  border: 1px solid black;
  transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.photo {
  width: 80px;
  border: 5px solid black;
}

.snap_button_container {
  width: 70%;
  padding-left: 20px;
  text-align: left;
}

.snap_button {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-bottom: 3px;
  box-shadow: inset 0px 0px 10px rgb(0 0 0 / 66%);
}


/*TODO*/

.todo_app_container {
  display: none;
  background: #466368;
  background: linear-gradient(to right top, #f6f1d3, #648880 85%, #293f50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todo_list_name {
  height: 30px;
  width: 100%;
  color: #000;
  margin: 0 0 10px;
}

.todo_input_wrapper {
  width: 100%;
  position: relative;
}

.todo_input {
  width: 92%;
  height: 30px;
  border: none;
  margin-bottom: 10px;
  font-family: 'Bad Script';
  font-size: 16px;
  padding-left: 10px;
  overflow: auto;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #3e5961;
  border-radius: 5px;
  margin-right: 10px;
}

.todo_input:hover {
  outline: none;
  color:#000;
}

.todo_input:focus {
  transition: 0.5s;
  outline: none;
}

.todo_add {
  display: block;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #6d9393;
  position: absolute;
  top: 0;
  right: 5px;
}

.todo_list,
.todo_done_list {
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.todo_done_list {
  height: 383px;
}

.todo_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  list-style: none;
  height: 30px;
  border-radius: 5px;
  background-color: #fffcfc;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Bad Script';
  padding-bottom: 5px;
  margin: 0 0 2px;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.todo_text_wrapper {
  width: 100%;
  display: inline;
  text-align: start;
}

.todo_list_item label {
  cursor: pointer;
}

input[type=checkbox] {
  margin-right: 10px;
}

.checked {
  text-decoration: line-through;
}

.todo_buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 10px;
}

.button_list_done {
  border: none;
  background-color: #6d9393;
  border-radius: 5px;
  color: #fff;
  height: 30px;
}

.button_list_done:hover {
  background-color: #fff;
  color: #6d9393;
  transition: all 300ms linear;
}

.todo_done_container {
  display: none;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left bottom, #f6f1d3, #648880 85%, #293f50); 
/*background-image: url(./media/pirozhok.jpeg);
  background-size: contain;*/
  z-index: 2;
}

.back_button {
  color: #fff;
  height: 30px;
  width: auto;
  margin-left: auto;
  text-align: right;
  margin: 10px 10px auto auto;
  cursor: pointer;
}

.back_button:hover {
  color: gray;
  transition: all 300ms linear;
}

/*Player*/

.music_app_container {
  background: #ebdbb9 url(./media/Moto.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.phone_volume {
  width: 15px;
  height: 125px;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #E8E9EB;
  color: rgb(187, 188, 182);
}

.phone_volume.show {
  display: flex;
}

.phone_volume-percentage {
  background:gray;
  height: 75%;
  width: 100%;
}

audio {
  width: 100%;
  padding-bottom: 50px;
}

.audio-player {
  height: 50px;
  width: 100%;
  background: #444;
  box-shadow: 0 0 20px 0 #000a;
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}

.timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}
   
.timeline .progress {
  background: coral;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
  
.controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}

.controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
     
.toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
}

.toggle-play:hover {
  transform: scale(1.1);
}
     
.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}

.pause:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  height: 15px;
  width: 3px;
}

.pause:after {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  height: 15px;
  width: 3px;
}

.pause:hover {
  transform: scale(1.1);
}
   
.time {
  display: flex;
}

.time > * {
  padding: 2px; 
}

.volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}

.volume {
  transform: scale(0.7);
}
      
.volume-slider {
  position: absolute;
  left: -3px; top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: .25s;
}

.volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
}
      
.volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}